* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: #6022f1;
    font-weight: bolder;
}

nav {
    color: white;
}

main {
    margin-top: 56px;
    min-height: calc(100vh - 100px);
}

img.mapaNZ {
    padding: 20px
}

footer {
    text-align: center;
    color: white;
    padding: 10px;
}

footer a {
    color: #fff
}