*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav{
    color: white
  }

main{
    margin-top: 56px;
    min-height: calc(100vh - 100px);
    }
   
section{
border: 1px solid red;
border-style: outset;
text-align: left;
}

/* Dropdown Button */
.dropbtn {
    background-color: #383d38;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color:  #383d38;}

img.mapaNZ {
    border: aqua;
 height: min-content;
 width: min-content;
 padding: 20px;
 }

footer{
    text-align: center;
    color: white;
    padding: 10px;
}
.titulo-header .busca input {
    font-size: 20px;
    color: #414042;
    z-index: 323;
    padding-left: 10px;
    width: 330px;
    border: solid black 1px;
}
.titulo-header .busca {
    text-align: center;
}
a#irParaTopo[href="#top"] {
    background-color: crimson;
    color: #ffffff;
    text-transform: lowercase;
    border-radius: 30px;
    position: fixed;
    display: block;
    bottom: 12px;
    right: 12px;
    padding: 5px 10px;
    border: 2px solid;
}