*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(226, 226, 236);
  ;
}


nav {
  color: white
}

carousel [class="carosel-item"] {
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: fill;
  object-position: bottom;

}

main {
  background-color: rgb(226, 226, 236);
  ;
  margin-top: 56px;
  min-height: calc(100vh - 100px);
}

h1,
h2 {
  text-align: center;
}

h1,
#titulo {
  padding: 16px;
  padding-bottom: 30px;
  color: rgb(34, 34, 66);
  background-color: rgb(226, 226, 236);
  text-align: center;


}

section {


  text-align: left;
}

/* Dropdown Button */
.dropbtn {
  background-color: #383d38;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #383d38;
}


footer {

  margin-bottom: 6%;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 3px;

}

.titulo-header .busca input {
  font-size: 20px;
  color: #414042;
  z-index: 323;
  padding-left: 10px;
  width: 330px;
  border: solid black 1px;
}

.titulo-header .busca {
  text-align: center;
}

button [href="#top"] {

  background-color: crimson;
  color: #ffffff;
  text-transform: lowercase;
  border-radius: 30px;
  display: flex;
  bottom: 6px;
  right: 6px;
  padding: 0px;
  transition-duration: 0.4s;

}

.button:hover {
  background-color: rgb(107, 9, 28);
  color: white;
}

a{
  text-decoration: none;
  color: white;
}