*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav{
    color: white;
}

main{
    margin-top: 56px;
    min-height: calc(100vh - 100px);
    }
   
section{
border: 1px solid red;
border-style: outset;
text-align: left;
}

footer{
    text-align: center;
    color: white;
    padding: 10px;
}
